@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(400px);
    }
    40% {
        -webkit-transform: translateY(-70px);
    }
    60% {
        -webkit-transform: translateY(-55px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(400px);
    }
    40% {
        transform: translateY(-70px);
    }
    60% {
        transform: translateY(-55px);
    }
}