@-webkit-keyframes fadeIn {
    0% {
        -webkit-opacity: 0;
    }
    100% {
        -webkit-opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        -webkit-opacity: 1;
    }
    100% {
        -webkit-opacity: 0;
        visibility: visible;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: visible;
    }
}